/* templates/tags.js */
.tagList {
    list-style: none;
}

.tagList:hover {
    font-weight: 500;
}

.tagList a {
    text-decoration: none;
}


/* Pages/tags.js */
.tagsList_ul {
    list-style: none;
    text-decoration: none;
}

.tagsList_ul li a {
    text-decoration: none;
}

.tagsList_ul li a:hover {
    font-weight: 500;
}