html {
    scroll-behavior: smooth;
}

a {
    pointer-events: auto;
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}

.toc {
    position: fixed;
    top: 40px;
    right: 20px;
    max-height: 400px;
}

.toc ul,
.toc li
.toc div{
    pointer-events: none;
    overflow: hidden;
}

.toc ul {
    margin: 0;
    padding: 0;
}

.toc li {
    margin: 8px 16px;
    list-style-type: none;
}

.toc li p {
    margin: 0;
}

.toc a {
    display: block;
    overflow: hidden;
    /*color: var(--color-text);*/
    padding: 2px 8px;
    border-radius: 6px;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 0.9em;
}

.toc a:hover {
    background-color: #1a202c;
    color: #eeeeee;
}

.activeItem_hashedString {
    background-color: #1a202c;
    color: #eeeeee;
}

.activeItem {
    background-color: #1a202c;
    color: #eeeeee;
}


@media (max-width: 1250px) {
    .toc {
        display: none;
    }
}
